 

*{   margin: 0;
    padding: 0;
    box-sizing: border-box;}
.logo{
  display: flex;
  align-items: center;
  gap: 6px;
}
.logo img {
  height: 47px;
  width: auto;
}
.font-inter-{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 20px;
}
.navbar{
     max-width: 1200px;
     margin: auto;
     padding: 16px 24px;
     display: flex;
     align-items: center;
}
.menu{
  flex:1;
  display: flex;
  gap: 24px;
  justify-content: center;
  list-style: none;
}
.menu li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}
.nav-btn {
  padding: 12px 22px;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  background: green;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.nav-btn:hover {
  background: darkgreen;
  transform: translateY(-2px);
}